<h1>Add your plans for {{currentBusiness.businessName}}</h1>
<button class="btn btn-danger" (click)="logout()">Logout</button>
<div class="w-50 mt-3" [formGroup]="plansForm">
    <div formArrayName="plans">
        <div *ngFor="let plan of plans.controls;let i= index;">
            <div [formGroupName]="i">
                <input type="text" class="form-control mb-2" placeholder="Title" formControlName="title">
                <input type="text" class="form-control mb-2" placeholder="Discount" formControlName="discount">
                <input type="text" class="form-control mb-2" placeholder="Price" formControlName="price">
            </div>
        </div>
    </div>
</div>
<div class="mb-3">
    <button class="btn btn-info me-3" (click)="addPlan()">Add new plan</button>
    <button class="btn btn-primary" (click)="savePlans()">Save plan</button>
</div>
<button type="button" class="btn btn-info" (click)="openAddServiceModal(addServiceModal)">
    Add Service
</button>
<div>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Customer
    </button>
    <button type="button" class="btn btn-info" (click)="openGenerateInvoiceModal(generateInvoiceModal)">
        Generate Invoice
    </button>
</div>

<!-- Generate Invoice Modal -->
<ng-template #generateInvoiceModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Generate Invoice</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [formGroup]="fetchCustomerForm">
            <input type="text" class="form-control mb-2" placeholder="Mobile" formControlName="mobile">
        </div>
        <p *ngIf="customerDetails">{{customerDetails.mobile}} - {{customerDetails.plan}}</p>
        <div *ngIf="allServices.length">
            <div [formGroup]="generateInvoiceForm">
                <div *ngFor="let aS of allServices">
                    <input type="checkbox" [checked]="false" (change)="handleCheckbox($event)"
                        [value]="aS.title" class="form-check-input">
                    <label>{{aS.title}} - {{aS.price}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cancel</button>
        <button *ngIf="!customerDetails" type="button" class="btn btn-success" (click)="getCustomerDetails()">Get
            customer details</button>
        <button *ngIf="customerDetails" type="button" class="btn btn-primary" (click)="generateInvoice()">Generate Invoice</button>
    </div>
</ng-template>



<!-- Add customer Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Customer</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div [formGroup]="customerForm">
                    <input type="text" class="form-control mb-2" placeholder="Mobile" formControlName="mobile">
                    <select class="form-select" formControlName="plan">
                        <option [selected]="true" disabled>Select plan</option>
                        <option *ngFor="let plan of currentBusiness.plans" [value]="plan.title">{{plan.title}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveCustomer()">Save customer</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Service Modal -->
<ng-template #addServiceModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Service</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mt-3" [formGroup]="addServiceForm">
            <div formArrayName="services">
                <div *ngFor="let service of services.controls;let i= index;">
                    <div [formGroupName]="i">
                        <input type="text" class="form-control mb-2" placeholder="Title" formControlName="title">
                        <input type="text" class="form-control mb-2" placeholder="Price" formControlName="price">
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-info me-3" (click)="addService()">Add new service</button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="saveServices()">Save</button>
    </div>
</ng-template>